@{
    ViewData["Title"] = "Opettajat.";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Etunimi</th>
            <th>Sukunimi</th>
            <th>Aine</th>
            <th>Tunnus</th>
            <th>Toiminnot</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.First_name</td>
                <td>@teacher.Last_name</td>
                <td>@teacher.Subject</td>
                <td>@teacher.Teacher_code</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@teacher.Id" class="btn btn-sm btn-primary">Muokkaa</a>
                    <button class="btn btn-sm btn-danger ms-2" data-bs-toggle="modal"
                        data-bs-target="#deleteModal-@teacher.Id">Poista</button>
                </td>
            </tr>
            <partial name="Delete_teacher_modal" model="teacher" />

        }
    </tbody>
</table>