@model kurssienhallinta.Models.Course

@{
    ViewData["Title"] = "Kurssin tiedot";
}

<div class="container mt-5" style="max-width: 700px" ">
<h2 class="mb-4">@Model.Name</h2>

<div class="mb-4">
    <p><strong>Opettajan tunnus ja nimi:</strong> @Model.Teacher.FullName</p>
</div>

<h3 class="mb-3">Oppilaat</h3>

@if (Model.Enrollments.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Oppilaan nimi</th>
                <th>Syntym채p채iv채</th>
                <th>Puhelin</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Enrollments)
            {
                <tr>
                    <td>@e.Student.FullName</td>
                    <td>@e.Student.Birthday</td>
                    <td>@e.Student.Year</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="alert alert-info">Kurssilla ei ole viel채 oppilaita.</p>
}


