@model IEnumerable<kurssienhallinta.Models.Course>
@{
    ViewData["Title"] = "Kurssit.";
}

<div class="container mt-5" style="max-width: 1300px;">
<h2 class="mb-4">Kurssit.</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Nimi.
                </th>
                <th>
                    Kuvaus.
                </th>
                <th>
                    Aloituspäivämäärä.
                </th>
                <th>
                    Lopetuspäivämäärä.
                </th>
                <th>
                    Opettaja.
                </th>
                <th>
                    Tila.
                </th>
                <th></th>
                <th>Toiminnot</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Description</td>
                <td>@course.Day_of_start.ToShortDateString()</td>
                <td>@course.Day_of_end.ToShortDateString()</td>
                <td>@(course.Teacher?.FullName ?? "Ei opettajaa")</td>
                <td>@(course.Room?.Name ?? "Ei tilaa")</td>
                <td><a asp-action="Details_course" asp-route-id="@course.Id" class="btn btn-sm btn-success">Tiedot</a></td>
                <td><a asp-controller="Courses" asp-action="Edit_course" asp-route-id="@course.Id" class="btn btn-primary btn-sm">Muokkaa</a></td>
                <td><button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal-@course.Id">Poista</button></td>
            </tr>
            <partial name="Delete_course_modal" model="course" />
            }
        </tbody>
    </table>

