<div class="container mt-3">

    @{
        ViewData["Title"] = "Kurssit";
    }
    <h1>@ViewData["Title"]</h1>

    <p>Tänne kurssit.</p>

</div>

<div class="kurssiInfo">

    @foreach (var k in Model)
    {
        <div class="infoCard">
            <p><strong>@k.Kurssitunnus</strong></p>
            <p>@k.Kurssinimi</p>
            <p>@k.Kurssikuvaus</p>
            <p>Aloituspäivä: @k.Kurssialoituspaiva</p>
            <p>Lopetuspäivä: @k.Kurssilopetuspaiva</p>
            <p>Opettajatunnus: @k.Opettajatunnus</p>
            <p>Tila: @k.Tilatunnus</p>

        </div>
    }
</div>

<div class="linkContainer">
    <a href="@Url.Action("AddCourse", "Courses")">Lisää kurssi</a>
    <a href="@Url.Action("ModifyCourse", "Courses")">Muokkaa kursseja</a>
</div>