@model List<Kurssi>

<div class="container mt-3">

    @{
        ViewData["Title"] = "Kurssit";
    }
    <h1>@ViewData["Title"]</h1>

    <p>Tänne kurssit.</p>

</div>

<div class="subjectContainer">

    <div class="subjectInfo">

        @foreach (var kurssi in Model)
        {
            <div class="infoCard">
                <p><strong>@kurssi.kurssitunnus</strong></p>
                <p>@kurssi.kurssinimi</p>
                <p>@(string.IsNullOrEmpty(kurssi.kurssikuvaus) ? "" : char.ToUpper(kurssi.kurssikuvaus[0]) +
                                    kurssi.kurssikuvaus.Substring(1).ToLower())</p> <!-- Tulostaa ison alkukirjaimen -->
                <p>Aloituspäivä: @(kurssi.kurssialoituspaiva?.ToString("d.M.yyyy") ?? "Ei asetettu")</p>
                <p>Lopetuspäivä: @(kurssi.kurssilopetuspaiva?.ToString("d.M.yyyy") ?? "Ei asetettu")</p>
                <p>Opettajatunnus: @kurssi.opettajatunnus</p>
                <p>Tila: @kurssi.tilatunnus</p>
                <a asp-action="ModifyCourse" asp-route-kurssitunnus="@kurssi.kurssitunnus" class="btn btn-primary">
                    Muokkaa
                </a>
            </div>
        }
    </div>

    <div class="linkContainer">
        <a href="@Url.Action("AddCourse", "Courses")">Lisää kurssi</a>
    </div>
</div>