@model List<Opiskelija>

<div class="container mt-3">

    @{
        ViewData["Title"] = "Opiskelijat";
    }
    <h1>@ViewData["Title"]</h1>

    <p>T채nne opiskelijat.</p>

</div>

<div class="subjectContainer">

    <div class="subjectInfo">

        @foreach (var opiskelija in Model)
        {
            <div class="infoCard">
                <p>Opiskelijan tunnus: <strong>@opiskelija.opiskelijatunnus</strong></p>
                <p>Etunimi: @opiskelija.opiskelijaetunimi</p>
                <p>Sukunimi: @opiskelija.opiskelijasukunimi</p>
                <p>Syntym채aika: @(opiskelija.syntymaaika?.ToString("d.M.yyyy") ?? "Ei asetettu")</p>
                <p>Vuosikurssi: @opiskelija.vuosikurssi</p>
                <a asp-action="ModifyStudent" asp-route-opiskelijatunnus="@opiskelija.opiskelijatunnus" class="btn btn-primary">
                    Muokkaa
                </a>
            </div>
        }
    </div>

    <div class="linkContainer">
        <a href="@Url.Action("AddStudent", "Students")">Lis채채 opiskelija</a>
    </div>
</div>