@model List<Tila>

<div class="container mt-3">

    @{
        ViewData["Title"] = "Tilat";
    }
    <h1>@ViewData["Title"]</h1>

    <p>Tänne tilat.</p>

</div>

<div class="subjectContainer">

    <div class="subjectInfo">

        @foreach (var tila in Model)
        {
            <div class="infoCard">
                <p>Tilatunnus: <strong>@tila.tilatunnus</strong></p>
                <p>Tilan nimi: @tila.tilanimi</p>
                <p>Tilan maksimikapasiteetti: @tila.tilakapasiteetti</p>
                <a asp-action="ModifyRoom" asp-route-tilatunnus="@tila.tilatunnus" class="btn btn-primary">
                    Muokkaa
                </a>
            </div>
        }
    </div>

    <div class="linkContainer">
        <a href="@Url.Action("AddRoom", "Rooms")">Lisää tila</a>
    </div>
</div>