@model List<Kirjautuminen>

<div class="container mt-3">

    @{
        ViewData["Title"] = "Kirjautumiset";
    }
    <h1>@ViewData["Title"]</h1>

    <p>Tänne opiskelijoiden kurssikirjautumiset.</p>

</div>

<div class="subjectContainer">

    <div class="subjectInfo">

        @foreach (var kirjautuminen in Model)
        {
            <div class="infoCard">
                <p>Kurssi: @kirjautuminen.kurssitunnus</p>
                
                <p>Opiskelija: @kirjautuminen.opiskelijatunnus</p>
                <p>Kirjautumispäivä: @(kirjautuminen.enroldate?.ToString("d.M.yyyy") ?? "Ei asetettu")</p>
                <p>Kirjautumisen id: <strong>@kirjautuminen.enroltunnus</strong></p>
            </div>
        }
    </div>

    <div class="linkContainer">
        <a href="@Url.Action("AddEnrolment", "Enrolments")">Kirjaudu kurssille</a>
        <a href="@Url.Action("CoursesEnrolments", "Enrolments")">Listaa kirjautumiset</a>
    </div>
</div>