<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - kurssienhallinta</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/kurssienhallinta.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Kurssienhallinta</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="d-flex">
            <nav class="sidebar">
                <a class="sidebar-nav" href="@Url.Action("List", "Courses")">Kurssit</a>
                <a class="sidebar-nav" href="@Url.Action("List", "Rooms")">Tilat</a>
                <a class="sidebar-nav" href="@Url.Action("List", "Students")">Opiskelijat</a>
                <a class="sidebar-nav" href="@Url.Action("List", "Teachers")">Opettajat</a>
                <a class="sidebar-nav" href="@Url.Action("ListCourseEnrolments", "Enrolments")">Kurssikirjautumiset</a>
                <a class="sidebar-nav" href="@Url.Action("List", "Enrolments")">Kurssikirjautumiset</a>
            </nav>
            <main class="flex-grow-1">
                @RenderBody()
            </main>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - kurssienhallinta.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<script src="~/js/site.js" asp-append-version="true"></script>